body {
    background-image: url("cvet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

header{

}

h1{
    color: white;
}

h2{
    color: white;
}

h3{
  color: white;
}

h4{
    color: white;
}
h5{
    color: white;
}

li{
    list-style-type: none;
}

p{
    color: white;
}

.HeaderClass{
    background-color: #023C4A;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border: 1px solid black;

 }

.background_form{
    margin-top: 10px;
    background-color: #023C4A;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;

}

.btn{
    color: white;
}


.header_lIST{
    display: flex;
    margin-top: 10px;
}

.header_lIST>li{
    margin-right: 5px;
}